.customSelect select {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #0b0e20;
  color: #fff;
}

select option {
  padding: 10px;
}
